# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
buildSrc
bin

##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
